<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Basic Authorization</web-resource-name>
            <description/>
            <url-pattern>/listCars*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Queensland Transport And Main Roads</realm-name>
    </login-config>

    <security-role>
        <description>Authorised application support users</description>
        <role-name>admin</role-name>
    </security-role>-->

</web-app>

