<p>
This application retrieves data from a RESTful service, demonstrating the use of the following Angular features:
</p>
<ul>
<li>Service component to encapsulate interactions with the remote REST services.</li>
<li>Angular Interceptors to add Authorisation headers to the request and handle http errors</li>
<li>Angular Guards to force Login where necessary</li> 
<li>Storage and retrieval of JWT tokens returned from the REST services.</li> 
<li>Angular Router for navigation between pages, and trapping of invalid URLs</li>
<li>Angular proxy configurations to avoid CORS when accessing REST services</li>
<li>Environment variables to define URLs for various environments</li>
<li>Disabling links not valid for the context. E.g. the Login link after a success login.</li>
</ul>
<p>
The RESTful service needs to be built and deployed separately to a suitable JEE server. I use Tomee as it comes pre-configured for REST services. Alternatively, write a mock json service to return the data and generate JWTs.
</p>
<p>
Review the following settings, and edit as necessary to match your remote server:
</p>

<ul>
<li>environment/environment.ts
<li>npm start in package.json
<li>proxy.conf.json
</ul>

<hr/>
<p>
  Enter:  UserName....  Password.....
</p>
<p>
  <button (click)="login()" label="login">Login</button>
</p>
